* {
    background-image: none;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
}

window {
    background-color: rgba(35, 33, 54, 0.9);
}

button {
    color: #e0def4;
    background-color: #2a273f;
    border: 2px solid #44415a;
    border-radius: 12px;
    margin: 10px;
    padding: 20px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
}

button:hover {
    background-color: #393552;
    border-color: #6e6a86;
    color: #e0def4;
}

#lock:hover {
    border-color: #f6c177;
}

#logout:hover {
    border-color: #ea9a97;
}

#shutdown:hover {
    border-color: #eb6f92;
}

#reboot:hover {
    border-color: #9ccfd8;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
