@import "./config.rasi"

window {
    width:                      50em;
    height:                     30em;
}

listview {
    columns:                    1;
    fixed-height:               false;
}

entry {
    placeholder:                "search clipboard history...";
}
