@import "./config.rasi"

window {
    width:                      50em;
    height:                     30em;
}

listview {
    columns:                    1;
    fixed-height:               false;
}

element {
    padding:                    12px;
    spacing:                    0px;
}

element-text {
    margin:                     0px;
}

entry {
    placeholder:                "search clipboard history...";
}
