@import "./config.rasi"

window {
    width:                        8em;
    height:                       6.5em;
}

listview {
    columns:                      1;
    lines:                        8;
    fixed-height:                 false;
}

mainbox {
    children:                     ["inputbar", "listview"];
}

inputbar {
    children:                     ["prompt"];
}
