@import "./config.rasi"

window {
    width:                        10em;
    height:                       8em;
}

listview {
    columns:                      1;
}

mainbox {
    children:                     ["listview"];
}
