[core]
    excludesfile = ~/.gitignore
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
    side-by-side = true

[merge]
    conflictstyle = zdiff3

[user]
	name = sokolawesome
	email = sokolawesome@gmail.com

[init]
	defaultBranch = main
