@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: alpha(@background, 0.7);
    color: @foreground;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces,
#custom-media,
#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-temperature,
#tray,
#tooltip,
#language,
#window {
    background: @background;
    border: 3px solid @color12;
    border-radius: 10px;
    margin: 5px 5px;
    padding: 0px 15px;
    color: @foreground;
}

#workspaces button {
    margin: 5px 2px;
}

#workspaces button.active {
    color: @color0;
    background-color: @color12;
}

#workspaces button:hover {
    background-color: @color9;
    color: @foreground;
}

#workspaces button.urgent {
    color: @color13;
}

#cpu.warning,
#custom-temperature.warning,
#memory.warning {
    background-color: orange;
    color: @background;
}
#cpu.critical,
#custom-temperature.critical,
#memory.critical {
    background-color: red;
    color: @background;
}
