@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: alpha(@background, 0.9);
}

#workspaces {
    margin-left: 20px;
}

#tray {
    margin-right: 20px;
}

#workspaces button {
    color: @foreground;
    margin: 0.2em;
}

#workspaces button.active {
    background: alpha(@color1, 0.7);
}

#workspaces button:hover {
    background: alpha(@color1, 0.3);
}

tooltip {
    color: @foreground;
    background-color: alpha(@background, 0.9);
}
