@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: alpha(@background, 0.9);
}

#workspaces {
    margin-left: 20px;
}

#tray {
    margin-right: 20px;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
}

#workspaces button:hover {
    color: alpha(@color2, 0.9);
}

#workspaces button.active {
    color: @color4;
}

tooltip {
    color: @foreground;
    background-color: alpha(@background, 0.9);
}
